<template>
  <div>
    <h4>Some recommendations for {{ currentUser.results[0].name.first }}</h4>
    <h1>{{ book.title }}</h1>
    <img :src="book.coverImg" />
  </div>
</template>

<script>
import { getBookById } from "../../util/api";
import { mapState } from "vuex";

export default {
  async created() {
    await this.loadBook();
  },
  data() {
    return {
      book: {},
    };
  },
  computed: {
    ...mapState({
      currentUser: "user",
    }),
  },
  methods: {
    async loadBook() {
      // bookid from router
      const { bookId } = this.$route.params;
      //fetch the book
      try {
        this.book = await getBookById(bookId);
      } catch (error) {
        console.log("Problems");
      }
    },
  },
};
</script>

<style>
</style>