<template>
  <div>
    <h4>{{ book.title }}</h4>
    <img :src="book.coverImg" alt="A cover image" @click="bookSelected" />
  </div>
</template>

<script>
export default {
  props: {
    book: {
      type: Object,
      require: true,
    },
  },
  methods: {
    bookSelected() {
      this.$emit("book-clicked", this.book.bookId);
    },
  },
};
</script>

<style scoped>
</style>
